# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
coverage/

# Editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Jest cache
.jest/
coverage/


# Prettier & ESLint cache
.prettiercache
.eslintcache
